@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
// Not recommended like this, i know it
$primary-color: #ffb703;
$secondary-color: #e63946;
$base-margin: 1rem;
$base-padding: 1rem;
$background-color: #fff;

@function margin($size) {
	@return $base-margin * $size;
}

@function padding($size) {
	@return $base-padding * $size;
}

:root {
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
	--base-margin: #{$base-margin};
	--base-padding: #{$base-padding};
}

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #333;
	
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

%inner-container {
	max-width: 1200px;
	margin: 0 auto;
}

%flex {
	display: flex;
}

.display-none {
	display: none !important;
}

.text-center {
	text-align: center;
}

.container {
	@extend %flex;
	flex-direction: column;
	height: 100vh;
	padding: padding(1);
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	
	@media (max-width: 767px){
		padding: padding(2);
	}
}

#header {
	@extend %inner-container;
	margin-bottom: margin(1);

	&.weather {
		letter-spacing: 0.05rem;
	}

	.weather-now {
		text-transform: uppercase;
	}
}

#main {
	@extend %inner-container;
	text-align: center;

	h1 {
		margin-bottom: margin(5);
		font-weight: bold;
	}

	.joke-container {
		@extend %flex;
		align-items: center;
		justify-content: center;
		min-height: 15vh;
		margin-bottom: margin(5);
		flex-direction: column;
		position: relative;

		@media (max-width: 767px) {
			min-height: 50vh;
		}
	}
	#joke {
		font-weight: lighter;
		font-size: 2.25rem;
	}

	button {
		padding: padding(1) padding(1.5);
		background-color: $primary-color;
		color: #212121;
		border-radius: 5rem;
		border: none;
		font-size: 1rem;
		transition: box-shadow 300ms ease;
		box-shadow: 0 5px 0 darken($primary-color, 8), 0 8px 6px darken(rgba($primary-color, 0.25), 55);
		position: relative;
		font-weight: bold;
		cursor: pointer;
		text-shadow: 0 1px rgba($background-color, 0.25);

		&:hover {
			background-color: lighten($primary-color, 8);
		}

		&:active {
			transform: translateY(5px);
			box-shadow: inset 0 3px 4px darken(rgba($primary-color, 0.25), 35);
			background-color: darken($primary-color, 3);
		}
	}

	.scores-container {
		@extend %flex;
		margin-top: margin(5);
		justify-content: center;

		button {
			display: block;
			width: 4rem;
			height: 4rem;
			padding: 0;
			border-radius: 50%;
			font-size: 2rem;
			line-height: 2;
			margin: 0 margin(1);

			&:hover {
				--primary-color: #{$secondary-color};
			}
		}
	}
}

.blob-container {
	@extend %inner-container;
	position: absolute;
	z-index: -1;
	top: 50%;
	width: auto;
	transform: translateY(-50%);
	transition: all 1000ms ease;
	display: flex;
	justify-content: center;

	.background-expanded {
		transition: all 300ms ease;
	}
}
